@import "tailwindcss";

@theme {
  --color-primary: #ec5b13;
  --color-background-light: #f8f6f6;
  --color-background-dark: #0a0705;
  --font-sans: var(--font-public-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  background-color: var(--color-background-dark);
  color: #f1f5f9;
}